*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 1200px;
    height: 100%;
    margin: auto;
    padding: 0 10px;
    border: 1px solid black;
}

header{
    height: 200px;
}

.header-top{
    height: 100px;
    background-color: #F5F8FA;
}

.header-top-left{
    width: 50%;
    line-height: 100px;
    float: left;
}

.header-top-left .language{
    float: left;
}

.header-top-left .language a{
    text-decoration: none;
    color: #33475B;
}

.header-top-left .contacts{
    margin-left: 10px;
    float: left;
}

.header-top-left .contacts a{
    text-decoration: none;
    color: #33475B;
}

.header-top-right{
    width: 50%;
    text-align: right;
    line-height: 100px;
    float: left;

}

.header-top-right a{
    color: #3CB9CC;
}

.header-top-right button:first-of-type{
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 3px;
    border-color: #FF7A59;
    background-color: white

}

.header-top-right button:last-of-type{
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 3px;
    border-color: #FF7A59;
    background-color: #FF7A59;
}

#login-button{
    text-decoration: none;
    color: #FF7A59;
}

#offer-button{
    color: white;
    text-decoration: none;
}
                        /* fine header top */
.header-bot{
    height: 100px;
}

.header-bot-left{
    height: 100%;
    width: 50%;
    float: left;

}
.header-bot-right{
    height: 100%;
    width: 50%;
    text-align: right;
    float: left;
}

.header-bot-right ul li{
    line-height: 100px;
    margin: 0 10px 0 10px;
    display: inline-block;
    text-align: right;
    list-style-type: none;
}

.menu-option{
    text-decoration: none;
    color: #33475B;
    font-weight: bold;
}

.logohubspot{
    height: 100px;

}

.logohubspot img{
    height: 100%;
}

.logohubspot i{
    font-size: 50px;
    padding-top: 20px;
}
                            /* inizio widget */
.widget{
    height: 100px;
    background-color: #425B76;
    position: relative;
}
.testo-widget{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    line-height: 1.5;
}

.section1{
    height: 600px;
    background-color: #FFF2EE;
    position: relative;
}

.section1-text{
    width: 400px;
    color: #425B76;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.section1-text > h1{
    font-size: 40px;
}

.section1-text p:first-of-type{
    margin: 20px 0 20px 0;
    display: block;
    line-height: 1.5;
}

.section1-text button:only-of-type{
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 20px;
    color: white;
    font-size: 15px;
    border-color: #FF7A59;
    background-color: #FF7A59;
}
                                    /* inizio section 2 */

.section2{
    height: 900px;
    background-color: #F5F8FA;
}

.row-top{
    margin-top: 30px;
}
.box{
    height: 400px;
    margin: 10px;
    padding: 10px;
    width: calc(100% / 3 - 20px);
    background-color: white;
    float: left;
}

.box h2{
    margin-bottom: 20px;
