*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 1200px;
    height: 100%;
    margin: auto;
}

.container::after{
    content: "";
    display: table;
    clear: both;
}

header{
    /* height: 200px; */
}

.header-top{
    /* height: 100px; */
    background-color: #F5F8FA;
}

.header-top-left{
    width: 50%;
    line-height: 100px;
    float: left;
}

.header-top-left .language{
    float: left;
}

.header-top-left .language a{
    text-decoration: none;
    color: #33475B;
}

.header-top-left .contacts{
    margin-left: 10px;
    float: left;
}

.header-top-left .contacts a{
    text-decoration: none;
    color: #33475B;
}

.header-top-right{
    width: 50%;
    text-align: right;
    line-height: 100px;
    float: left;

}

.header-top-right a{
    color: #3CB9CC;
}

.header-top-right button:first-of-type{
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 3px;
    border: 1px solid #FF7A59;
    background-color: white

}

.header-top-right button:last-of-type{
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 3px;
    border: 1px solid #FF7A59;
    background-color: #FF7A59;
}

#login-button{
    text-decoration: none;
    color: #FF7A59;
}

#offer-button{
    color: white;
    text-decoration: none;
}
                        /* fine header top */
.header-bot{
    height: 100px;
}

.header-bot-left{
    height: 100%;
    width: 50%;
    float: left;

}
.header-bot-right{
    height: 100%;
    width: 50%;
    text-align: right;
    float: left;
}

.header-bot-right ul li{
    line-height: 100px;
    margin: 0 10px 0 10px;
    display: inline-block;
    text-align: right;
    list-style-type: none;
}

.menu-option{
    text-decoration: none;
    color: #33475B;
    font-weight: bold;
}

.logohubspot{
    height: 100px;

}

.logohubspot img{
    height: 100%;
}

.logohubspot i{
    font-size: 50px;
    padding-top: 20px;
}
                            /* inizio widget */
.widget{
    height: 100px;
    background-color: #425B76;
}
.testo-widget{
    padding: 25px 0;
    line-height: 1.5;
    color: white;
}
                            /* inizio section 1 */
.section1{
    height: 600px;
    background-color: #4FC3C7;
    position: relative;
}

.section1-left{
    height: 100%;
    width: 50%;
    float: left;

}

.section1-right{
    height: 100%;
    width: 50%;
    padding: 92px 0;
    float: left;
}

.section1-right img{
    width: 100%
}

.section1-text{
    width: 400px;
    color: #425B76;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.section1-text > h1{
    font-size: 40px;
}

.section1-text p:first-of-type{
    margin: 20px 0 20px 0;
    display: block;
    line-height: 1.5;
}

.section1-text button:only-of-type{
    margin-bottom: 20px;
    padding: 20px;
    color: white;
    font-size: 15px;
    border-radius: 3px;
    border: 1px solid #FF7A59;
    background-color: #FF7A59;
}
                                    /* inizio section 2 */

.section2{
    background-color: #F5F8FA;
}

.container.section2{
    padding: 100px 0 100px 0;
}

.box-special{
    height: 400px;
    margin: 10px;
    padding: 10px;
    width: calc(100% / 3 - 20px);
    float: left;

}

.box-special h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.box-special p{
    line-height: 2;
}


.box{
    margin: 10px;
    padding: 20px;
    width: calc(100% / 3 - 20px);
    background-color: white;
    float: left;
}

.box h2{
    font-size: 20px;
    margin:20px 0;
}

.box > h2 i{
    margin-right: 3px;
    color: #FF7A59;
}

.box-text{
    padding-bottom: 20px;
    border-bottom: 2px solid #F5F8FA;
    font-size: 14px;
    line-height: 2;
}
.box h3{
    text-transform: uppercase;
    margin: 20px 0;
    font-size: 14px;
}

.box span{
    display: block;
    margin-bottom: 10px;
}

.box span i{
    margin-right: 5px;
    color: #FF7A59;
}

.button{
    text-align: center;
}

.button button{
    padding: 15px 70px;
    border-radius: 3px;
    margin: 30px 0 40px 0;
    border: 1px solid #FF7A59;
    background-color: #FF7A59;
}

.button button a{
    color: white;
    text-decoration: none;
}
                                /* inizio section 3 */
.section3{
    color: white;
    background-color: #00B1B0;
}

.container.section3{
    padding: 100px 0 100px 0;
}
#top-part{
    width: 600px;
    margin: auto;
    text-align: center;
}

#top-part h2{
    font-size: 30px;
}

#top-part p{
    display: block;
    text-align: center;
    margin: 30px 0 50px 0;
    line-height: 2;
}

#bottom-part{
    height: 500px;
}

.square{
    height: 250px;
    width: 300px;
    padding: 20px;
    float: left;
    text-align: center;
}

.square.first{
    border-bottom: 1px solid white;
}
.square.second{
    border-right:1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}

.square.third{
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.square.fourth{
    border-bottom: 1px solid white;
}

.square.fifth{
    border-right: 1px solid white;
}

.square.sixth{
    border-right: 1px solid white;
}

.square.seventh{
    border-right: 1px solid white;
}
#logo{
    font-size: 40px;
}
#logo span{
    font-size: 18px;
    text-transform: uppercase;
}

.mid-text{
    height: 50px;
    margin-top: 30px;
    font-size: 50px;

}
.mid-text span{
}

.mid-text i{
    font-size: 12px;
}


.bottom-text{
    margin-top: 30px;
}
                            /* inizio section 4 */
.section4{
    height: 800px;
}

.section4-top{
    height: 300px;
    background-color: white;
}

.section4-top-left{
    height: 100%;
    width: 30%;
    padding: 85px 0;
    float: left;
}

.section4-top-right{
    height: 100%;
    width: 50%;
    padding: 85px 0px;
    float: right;
}

.section4-top-left-text{
    height: 130px;
    color: #33475B;
}

.section4-top-left-text p:first-of-type{
    font-size: 40px;
}

.section4-top-left-text p:nth-last-child(2){
    line-height: 2;
}

.section4-top-right-logo{
    height: 15px;
    width: 90px;
    margin: 20px;
    float: left;
}
.section4-top-right-logo img{
    width: 100%;
}

.section4-bot-left{
    width: 35%;
    float: left;
}

.section4-bot-left-header{
    color: #33475B;
}

.section4-bot-left-header h2{
    font-size: 30px;
}

.section4-bot-left p:first-of-type{
    margin:30px 0;
}

.section4-bot-left button{
    padding: 20px;
    color: white;
    font-size: 15px;
    border-radius: 3px;
    border: 1px solid #FF7A59;
    background-color: #FF7A59;
}

.section4-bot-left p:last-of-type{
    margin-top: 30px;
    font-size: 12px;
}

.section4-bot-right{
    float: left;
}

.section4-bot-right-img{
    width: 350px;
    margin-left: 240px;
}

.section4-bot-right-img img{
    width: 100%;
}
                            /* inizio footer */
footer{
    height: 500px;
    background-color: #33475B;
}


footer::after{
    content: "";
    display: table;
    clear: both;
}

.footer-row-top{
}
.list{
    float: left;
    width: calc(100%/4);
    height: 300px;

}

.list small{
    display: block;
    margin-top: 60px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.list ul{
    list-style-type: none;
    text-align: left;
    line-height: 2;
}

.link-footer a{

    color: white;
    text-decoration: none;
}

.list button{
    display: block;
    padding: 10px;
    margin: 10px 0;
    background-color: white;
    border: 1px solid white;
    border-radius: 3px;
}

.list button a{
    text-decoration: none;
    color: #33475B;
}

.contacts-icon{
    display: inline-block;
    margin: 5px 5px;
    font-size: 15px;
}

.contacts-icon i{
    font-size: 20px;
    text-decoration: none;
    color: white;
}
